
<div *ngIf="comprobantecontable">

  <!--p *ngIf = "total > 0">{{padre | json}}</p-->

  <table  class="c">
    <tr   *ngFor="let pad of (comprobantecontable$ | async); index as j">
      <td class="comprobantecontable">
        <button type="button" class="btn btn-link"
            style="width: 12em; text-align: left;"
            data-toggle="modal" data-target="#ComprobanteContable"

            (click) = "activa_modal('ComprobanteContable', backref, true, pad)"

            >{{pad['numero_registro']}}
        </button>
      </td>
    </tr>
    <tr><td class="comprobantecontable"><button *ngIf="comprobantecontable"
      class="btn btn-link" data-toggle="modal" data-target="#ComprobanteContable"
      (click) = "activa_modal(table, backref, false, null)">+</button></td></tr>
  </table>


  <span><template #messagecontainer></template></span>
</div>
