<!--div><button class="btn btn-light btn-sm" data-toggle="modal" data-target="#myModal">Ingresar</button></div-->

<div  class="modal fade" id="{{table}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!editTabla">Ingresar en {{table}}</h4>
        <h4 class="modal-title" *ngIf="editTabla">Editar/Borrar en {{table}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!--
        pad : [{{pad | json}}]<br>
        compon : [{{compon | json}}]
        -->
<form [formGroup]="listForm" >
  <!--

  <p>{{back | json}}</p>
  <p>keyback -> {{keyback | json}}</p>

    <p *ngFor="let b of keyback">xxx{{b}}</p>
    <p>seleccion : [{{seleccion | json}}]</p>

  -->
    <table *ngIf="back">
        <tr *ngFor="let b of keyback">


            <td *ngIf="compon[back[b]] === 'fk'">{{b}}</td>
                <td  *ngIf="compon[back[b]] === 'fk'">
                <select formControlName="{{b}}">

                    <option [ngValue]="null" disabled></option>

                    <option *ngFor="let s of seleccion[b]" [ngValue]="s.id">{{s.nombre}}</option>

                </select>

              </td>

        </tr>
      </table>

      <table *ngIf="compon">


          <tr *ngFor="let c of compon | keyvalue; index as i">

           <td *ngIf="c['value'] != 'hidden'">
             <span  *ngIf="c['value'] != 'fk'"><span *ngIf="c['value'] != 'id'">{{c['key']}}</span></span>
           </td>

           <td *ngIf="c['value'] != 'hidden'">
             <span *ngIf="c['value'] != 'fk'">
               <span  *ngIf="c['value'] != 'id'">
                <input type="{{c['value']}}"  formControlName="{{c['key']}}"/>
               </span>

             </span>
           </td>

          </tr>

      </table>



</form>

</div>

<!-- Modal footer -->
<div class="modal-footer">
  <button *ngIf="!editTabla" class="btn btn-info btn-sm" type="button" (click) = "ingresar()"
       [disabled]="!listForm.valid">Ingresar</button>&nbsp;
  <button *ngIf="editTabla" class="btn btn-info btn-sm" type="button"
       [disabled]="!listForm.valid" (click)="editar()"  data-dismiss="modal">Editar</button>&nbsp;
  <!--
       <button *ngIf="editTabla" class="btn btn-info btn-sm" type="button"
       [disabled]="!listForm.valid" (click)="borrar()"  data-dismiss="modal">Borrar</button>&nbsp;
  -->
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>
