<!--div><button class="btn btn-light btn-sm" data-toggle="modal" data-target="#myModal">Ingresar</button></div-->

<div  class="modal fade" id="{{table}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!editTabla">Ingresar en {{table}}</h4>
        <h4 class="modal-title" *ngIf="editTabla">Editar/Borrar en {{table}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
<form [formGroup]="listForm" >
    <!--
    <p>back : [{{back | json}}]</p>
    <p>seleccion : [{{seleccion | json}}]</p>
    -->
    <span *ngIf="back">
        <span *ngFor="let b of back | keyvalue">
            <p>&nbsp;{{b['key']}}->{{seleccion[b['key']] | json }}&nbsp;
                <select formControlName="{{b['key']}}">
                    <option [ngValue]="null" disabled>&nbsp;</option>
                    <option *ngFor="let s of seleccion[b['key']]" [ngValue]="s['id']">{{s['nombre']}}</option>
                </select>
            </p>
        </span>
    </span>

      <span *ngFor="let c of compon | keyvalue; index as i">

       <span *ngIf="c['value'] != 'hidden'">{{c['key']}}</span>&nbsp;
       <span *ngIf="c['value'] != 'hidden'"><input type="{{c['value']}}"  formControlName="{{c['key']}}"/></span>
       <br>
       <br>
       <!--hr *ngIf="c['value'] != 'hidden'"-->
      </span>


</form>

</div>

<!-- Modal footer -->
<div class="modal-footer">
  <button *ngIf="!editTabla" class="btn btn-info btn-sm" type="button" (click) = "ingresar()"
       [disabled]="!listForm.valid">Agregar</button>&nbsp;
  <button *ngIf="editTabla" class="btn btn-info btn-sm" type="button"
       [disabled]="!listForm.valid" (click)="editar()"  data-dismiss="modal">Editar</button>&nbsp;
  <button *ngIf="editTabla" class="btn btn-info btn-sm" type="button"
       [disabled]="!listForm.valid" (click)="borrar()"  data-dismiss="modal">Borrar</button>&nbsp;
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>
