<div  style="width: '100%'; ; margin-left: '25px'">
  <!--p>({{ref}} === {{id}})</!--p-->
  <span><button type="button" class="btn btn-outline-light text-dark btn-sm"
    (click) = "mostra()">+</button>SubItem ({{total}})
    <button *ngIf="solicitud" class="btn btn-light btn-sm" data-toggle="modal" data-target="#myModal"
    (click) = "activa_modal(table, null, false)">*</button></span>
  <span *ngIf="solicitud">
    <br>
      <span><template #messagecontainer></template></span>
      <span *ngFor="let c of cabecera">{{c}}&nbsp;</span>

      <br>

      <span *ngFor="let pad of padre">
        <span>=>&nbsp;</span>
        <span *ngFor="let p of pad">{{p}}&nbsp;</span>
        <span><button type="button" class="btn btn-outline-light text-dark btn-sm"
          data-toggle="modal" data-target="#myModal" (click) = "activa_modal(table, pad, true)"
          >*</button></span>

      <br>

      <app-solicitud  *ngIf = "next" [ref] = "ref" [id] = "pad[0]"></app-solicitud>
      </span>


</span>
</div>

