<div style="margin-left: '25px'">

  <table>
    <tr>

      <td class="solicitud">Solicitud</td>
      <td class="ordencompra">Orden Compra</td>
      <td class="factura">Factura</td>
      <td class="comprobantecontable">Comp. Contable</td>
      <td class="amarillo">Monto</td>
    </tr>
  </table>


  <span *ngIf="mod$ | async"></span>

  <table  *ngIf = "1 > 0" class="c">
    <tr  *ngFor="let pad of (solicitud$ | async); index as j">
      <td class="solicitud">
        <button type="button" class="btn btn-link"
            style="width: 12em; text-align: left;"
            data-toggle="modal" data-target="#Solicitud"
            (click) = "nextCount(pad)"
            >

           {{pad['solicitante']}}
        </button>

      </td>
    </tr>
    <tr><td class="solicitud"><button
      class="btn btn-link" data-toggle="modal" data-target="#Solicitud"
      (click) = "nextCount({})">+</button></td>
  </tr>
  </table>
  <span><template #messagecontainer></template></span>
  <!-- The Modal -->
  <div class="modal" id="Solicitud">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-children></app-children>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  </div>
