
<span><template #messagecontainer></template></span>

<span *ngFor="let pad of padre; index as c">
  <span *ngIf="c>0; else otro0"><button type="button" class="btn btn-outline-light text-dark btn-sm"
    (click) = "sgte(pad[0])">&nbsp;&nbsp;+&nbsp;</button></span>
  <ng-template #otro0><button type="button" class="btn btn-outline-light text-dark btn-sm" disabled
    (click) = "sgte(pad[0])">&nbsp;</button></ng-template>
  <span *ngFor="let p of pad; index as i"><span *ngIf="i>0"><span *ngIf="i==1 && c>0; else otro">
   <button type="button" class="btn btn-link btn-sm"  style="width: 9em; text-align: left;"
   data-toggle="modal" data-target="#Solicitud" (click) = "activa_modal(table, pad, true)"><td>{{p}}</td></button></span></span>
   <ng-template #otro><td class="a">{{p}}</td></ng-template></span>

<br>
<!--
<app-solicitud  *ngIf = "next" [ref] = "ref" [id] = "pad[0]"></app-solicitud>
-->
</span>
