td.a {
  background-color: #8bc494;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 156, 58);
  border-style: solid;
  padding: -0.1ch;
  border-right: 0ch;
}


td.b {
  background-color: #fdfdfd;
  line-height: 1.9em;
  column-width:9em;
  border: 0.0mm;

  align-content: center;
  align-items: center;
  text-align: center;
  padding: -0.1ch;
  border-right: 0ch;
}
