<div *ngIf="factura">

  <!--p *ngIf = "total > 0">{{padre | json}}</p-->

  <table  class="c">
    <tr   *ngFor="let pad of (factura$ | async); index as j">
      <td class="factura">
        <button type="button" class="btn btn-link"
            style="width: 12em; text-align: left;"
            data-toggle="modal" data-target="#Factura"

            (click) = "activa_modal('Factura', backref, true, pad)"

            >{{pad['numero_registro']}}
        </button>
      </td>
      <td><app-comprobante-contable  *ngIf = "next"  [backref] = "pad['id']"></app-comprobante-contable></td>
    </tr>
    <tr><td class="factura"><button *ngIf="factura"
      class="btn btn-link" data-toggle="modal" data-target="#Factura"
      (click) = "activa_modal(table, backref, false, null)">+</button></td></tr>
  </table>


  <span><template #messagecontainer></template></span>
</div>
