<div class="conteiner" style="width: '100%'; margin-left: '25px'">

  <span><button type="button" class="btn btn-outline-light text-dark"
    (click) = "mostra()">+</button>SubItem
    <button *ngIf="subitem" class="btn btn-light" data-toggle="modal" data-target="#SubItem"
    (click) = "activa_modal(table, backref, false, null)">#</button></span>

    <span *ngIf="subitem">
      <br>
        <span><template #messagecontainer></template></span>

        <span *ngFor="let pad of (subitem$ | async); index as c">


          <button type="button" class="btn btn-outline-light text-dark"
          (click) = "sgte(pad['id'])">&nbsp;&nbsp;+&nbsp;</button>

           <button type="button" class="btn btn-link"  style="width: 9em; text-align: left;"
           data-toggle="modal" data-target="#SubItem" (click) = "activa_modal(table, backref, true, pad)">
           <td>{{pad['nombre']}}</td>
          </button>
           <td class="a">{{pad['monto']}}</td>
        <br>

        <div *ngIf="ref === pad['id']">
          <app-solicitud  *ngIf = "next"  [backref] = "pad['id']"></app-solicitud>
        </div>

        </span>


  </span>
  <br>
  </div>










