<div style="width: '100%';  margin-left: '25px'">
  <span><button type="button" class="btn btn-outline-light text-dark btn-sm"
    (click) = "mostra()">+</button>Presupuesto ({{total}})
    <button *ngIf="presupuesto" class="btn btn-light btn-sm" data-toggle="modal" data-target="#Presupuesto"
    (click) = "activa_modal('Presupuesto', null, false)">*</button></span>
  <span *ngIf="presupuesto">
    <br>
      <span><template #messagecontainer></template></span>
      <span *ngFor="let c of cabecera">{{c}}&nbsp;</span>

      <br>

      <span *ngFor="let pad of padre">
        <span><button type="button" class="btn btn-outline-light text-dark btn-sm"
          (click) = "sgte(pad[0])">+</button></span>
        <span *ngFor="let p of pad">{{p}}&nbsp;</span>
        <span><button type="button" class="btn btn-outline-light text-dark btn-sm"
          data-toggle="modal" data-target="#Presupuesto" (click) = "activa_modal(table, pad, true)"
          >*</button></span>

      <br>

      <app-item  *ngIf = "next" [ref] = "ref" [id] = "pad[0]"></app-item>
      </span>


</span>
</div>
