<div *ngIf="ordencompra">

  <!--p *ngIf = "total > 0">{{padre | json}}</p-->

  <table  class="c">
    <tr   *ngFor="let pad of (ordencompra$ | async); index as j">
      <td class="solicitud">
        <button type="button" class="btn btn-link"
            style="width: 12em; text-align: left;"
            data-toggle="modal" data-target="#OrdenCompra"

            (click) = "activa_modal('OrdenCompra', backref, true, pad)"

            >{{pad['numero_oc']}}
        </button>
      </td>
      <td><app-factura  *ngIf = "next"  [backref] = "pad['id']"></app-factura></td>
    </tr>
    <tr><td class="solicitud"><button *ngIf="ordencompra"
      class="btn btn-link" data-toggle="modal" data-target="#OrdenCompra"
      (click) = "activa_modal(table, backref, false, null)">+</button></td></tr>
  </table>


  <span><template #messagecontainer></template></span>
</div>
