/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css";*/

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

table.solicita {
  background-color: #ada2ac;
  background: #ece9ce;
  enable-background: accumulate;
}

td.subitem {

  background-color: #e7d8e6;
  vertical-align: top;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;
  border-right: 0.1ch;
}

td.solicitud {

  background-color: #f0ccbc;
  vertical-align: top;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;
  border-right: 0.1ch;
}
td.ordencompra {
  background-color: #b8ddb7;
  vertical-align: top;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;
  border-right: 0.1ch;
}

td.factura {
  background-color: #ced9ec;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;
  border-right: 0.1ch;
}

td.amarillo {
  background-color: #ece9ce;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;

}

td.comprobantecontable {
  background-color: #ada2ac;
  vertical-align: top;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;
  border-right: 0.1ch;
}

td.presupuesto {
  background-color: #ada2ac;
  vertical-align: top;
  line-height: 1.9em;
  column-width:9em;
  border: 0.1mm;
  border-radius: 5%;
  border-color: rgb(38, 113, 156);
  border-style: solid;
  padding: 0.1ch;
  border-right: 0.1ch;
}



